<mat-sidenav-container class="sidenavContainer">
  <mat-sidenav #sidenav mode="push" class="sidenav">
    <img src="assets/peaqock2.png" alt="peaqock">
    <app-nav-list></app-nav-list>
    <p class="createdwithlove">Created with ❤️ & ☕ by Peaqock </p>
  </mat-sidenav>
  <mat-sidenav-content class="sidenavContent">

    <!-- Toolbar -->
    <mat-toolbar class="bg-light shadow-sm toolbar">
      <button mat-icon-button>
        <mat-icon class="icone" (click)="sidenav.open()">menu</mat-icon>
      </button>
      <div class="account">
        <button mat-button class="mx-2" routerLink="/login">Login</button>
        <button mat-raised-button color="warn" routerLink="/singup">Sing Up</button>
      </div>
    </mat-toolbar>

    <!-- Router Outlet -->
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
